/* NAVBAR OCH FOOTER (Samma för varje sida) */
@font-face {
    font-family: Lobster;
    src: url("./Lobster-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    place-items: center;
    background-color: rgb(13, 13, 13);
    position: sticky;
    top: 0;
    z-index: 10000;
}

.logo {
    font-family: Lobster;
    color: white;
    font-size: 15px;
    margin: 0px;
}

.links {
    display: grid;
    grid-auto-flow: column;
    color: white;
    position: right;
    font-size: 25px;
    margin-left: auto;
    padding: 30px;
    gap: 20px;
}

.links a:hover {
    transform: scale(1.1);
    transition: all ease-out 0.2s;
}

footer {
    background: rgb(13, 13, 13);
    text-align: center;
    color: white;
}

.mail {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 15px;
}
/* NAVBAR OCH FOOTER (Samma för varje sida) */

/* Webpage Design */
@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    min-height: 130vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}
/* Webpage Design */

.slider{
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.slide{
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    box-shadow: 1px 1px 1px 1px rgb(23, 23, 23);
}
.btn:active{
    transform: scale(1.1);
}
.btn-prev{
    top: 45%;
    left: 2%;
}
.btn-next{
    top: 45%;
    right: 2%;
}