/* NAVBAR OCH FOOTER (Samma för varje sida) */
@font-face {
    font-family: Lobster;
    src: url("./Lobster-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    place-items: center;
    background-color: rgba(13, 13, 13, .5);
    opacity: 1;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.logo {
    font-family: Lobster;
    color: white;
    font-size: 15px;
}

.links {
    display: grid;
    grid-auto-flow: column;
    color: white;
    position: right;
    font-size: 25px;
    margin-left: auto;
    padding: 30px;
    gap: 20px;
}

.links p {
    margin: 0;
}

.links a:hover {
    transform: scale(1.1);
    transition: all ease-out 0.2s;
}

footer {
    background: rgb(13, 13, 13);
    text-align: center;
    color: white;
}

.mail {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 15px;
}

/* NAVBAR OCH FOOTER (Samma för varje sida) */

/* Webpage Design */

main {
    display: grid;
    grid-auto-flow: row;
}
@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    min-height: 130vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 50%;
}

/* Webpage Design */